h1, h2, h3 {
  -webkit-text-stroke: 0.3vw #3ac028;
}
h1, h3 {
  -webkit-text-stroke: 0.1vw #3ac028;
}
h1::before, h2::before, h3::before {
  color: #3ac028;
  border-right: 2px solid #3ac028;
}
.boton {
  border: 1px solid #3ac028;
}

